* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}

body{
    background-color: #000;
}
.hid {
    width: 70%;
    height: 60px;
    padding: 10px;
    padding-left: 60px;
    position: relative;
    z-index: 10;
    perspective: 1000px;
    background: linear-gradient(to right,rgba(0, 142, 236, 0.815),#000,rgba(0, 142, 236, 0.815));
    box-shadow: 0 0 30px rgba(0, 142, 236, 0.815),
    inset 0 0 15px rgba(0, 142, 236, 0.815);
    border: 1px solid rgba(0, 142, 236, 0.815);
    position: fixed;
    left:15%;
    border-radius:10px;
    margin-top:10px;
    flex-wrap:nowrap;

}
.logo{
  width: 300px;
  height: 40px;
  color: white;
  white-space: nowrap;
  transform: scale(1.1);
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  margin-left:40%
}
.logo span{
  color:rgba(0, 142, 236, 0.815);
}