* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}

body{
    background-color: #000;
}
.hid {
    width: 70%;
    height: 60px;
    padding: 10px;
    padding-left: 60px;
    position: relative;
    z-index: 10;
    perspective: 1000px;
    background: linear-gradient(to right,rgba(0, 142, 236, 0.815),#000,rgba(0, 142, 236, 0.815));
    box-shadow: 0 0 30px rgba(0, 142, 236, 0.815),
    inset 0 0 15px rgba(0, 142, 236, 0.815);
    border: 1px solid rgba(0, 142, 236, 0.815);
    left:15%;
    border-radius:10px;
    margin-top:10px;
    flex-wrap:nowrap;

}
.logo{
  width: 300px;
  height: 40px;
  color: white;
  white-space: nowrap;
  transform: scale(1.1);
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  margin-left:40%
}
.logo span{
  color:rgba(0, 142, 236, 0.815);
}
.contener{
  width: 100%;
  height: 89vh;
  display: flex;
  
}
.les_card{
  width: 90%;
  height: 90%;
  background: rgb(255, 255, 255,0.1);
  backdrop-filter: blur(10px);
  margin-left: 5%;
  margin-top: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 142, 236, 0.815),
  inset 0 0 15px rgba(0, 142, 236, 0.815);
  border: 1px solid rgba(0, 142, 236, 0.815);

}
.card{
  background-color: #000;
  width: 250px;
  height: 60%;
  margin: 10px;
  border-radius: 8px;
  margin-top: 100px;
  box-shadow: 0 0 30px rgba(0, 142, 236, 0.815),
  inset 0 0 15px rgba(0, 142, 236, 0.815);
  border: 1px solid rgba(0, 142, 236, 0.815);
  transition: transform 0.3s ease;
}
.card:hover{
  transform: scale(1.1);
}
img{
  width: 100%;
  height: 70%;
  border-radius: 8px;
}
h2{
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
}
button{
  background-color: rgba(0, 142, 236, 0.815);
  color: white;
  border-radius: 9px;
  width: 60%;
  height: 15%;
  margin-left: 40px;
  margin-top: 10px;
}